.Staffpage{
  background-color: #3292d7;
  min-height: 50vh;
  position:absolute;
  top: 200px;
  left: 100px;
}
.Homepage{
  background-color: #3292d7;
  min-height: 50vh;
  width: 60vh;
  position:absolute;
  top: 200px;
  left: 500px;
}
.SignupPage{
  background-color: #3292d7;
  min-height: 50vh;
  width: 60vh;
  position:absolute;
  top: 200px;
  left: 500px;
}